@import "../../../index.scss";

.CheckoutModalContent {
  .product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $primary-color;
    padding: 10px 0px;
    margin-bottom: 15px;
  }
}

.CheckoutModalFooter {
  .checkout-btn {
    background-color: $primary-color;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
  }
}
