@import "../../../index.scss";

.CheckoutModalContent {
  .checkout-user-info {
    padding: 10px;
    color: $text-main-color;
    margin: 15px 0px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: $text-main-color;
      padding: 5px;
    }
  }

  .product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $primary-color;
    padding: 10px 0px;
    margin-bottom: 15px;
  }
}

.CheckoutModalFooter {
  .checkout-btn {
    background-color: $primary-color;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
  }

  .success-checkout-msg,
  .fail-checkout-msg {
    font-size: 1.3em;
  }

  .success-checkout-msg {
    color: green;
  }

  .fail-checkout-msg {
    color: red;
  }
}

.CheckoutModalFooter.modal-footer {
  display: block;
}
