@import "../../../index.scss";

#main-navbar {
  width: 100% !important;
  margin: 0px !important;

  .navbar-brand {
    display: flex;
    align-items: center;

    .logo {
      width: 2em;
      height: 2em;
      margin-right: 0.3em;
    }
  }

  .navbar-nav {
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
  }

  .shopping-cart-icon {
    color: $primary-color;
    font-size: 1.5em;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: initial;
  }

  a:focus {
    text-decoration: none;
    color: initial;
  }
}
