@import "../../../../index.scss";

#ImagesCarousel {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 3%;

  .current-image-container {
    width: 200px;
    height: 300px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .images-carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    overflow: hidden;
    padding: 10px 5px;

    .images-carousel {
      overflow: hidden;
      white-space: nowrap;
      padding: 5px;

      .next-image {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        border: 1px solid #f2f2f2;
        cursor: pointer;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border: 2px dotted #ccc;
        }

        .active-image {
          border: 2px dotted $primary-color;
        }
      }
    }

    .fa-caret-right,
    .fa-caret-left {
      cursor: pointer;
      color: $primary-color;
    }

    .next-image-animation {
      right: 0px;
      animation-name: example;
      animation-duration: 0.25s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    @keyframes example {
      from {
        right: 140px;
      }
      to {
        right: 0px;
      }
    }

    .previous-image-animation {
      left: 0;
      animation-name: example2;
      animation-duration: 0.25s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    @keyframes example2 {
      from {
        left: 140px;
      }
      to {
        left: 0px;
      }
    }
  }
}
