@import "../../../../../../index.scss";

.RecensionsList {
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

  .recension-container {
    margin-bottom: 20px;
    color: $text-main-color;
    font-weight: 300;
    border: 1px solid #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }

  .recension-user-info {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: $text-main-color;
  }

  .recension-title {
    font-size: 2.3em;
    margin-bottom: 20px;
  }

  .recension-description {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
    color: $text-secondary-color;
  }

  .recension-rating {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
}

.NoRecensionsListTitle {
  font-weight: 300;
  color: $text-main-color;
  text-align: center;
  margin: 30px 0px;
}
