@import "../../index.scss";

#Home {
  .home-title {
    color: $text-main-color;
    font-weight: 300;
    text-align: center;
    margin: 3% auto;
  }

  @media (max-width: 515px) {
    .home-title {
      font-size: 1.3em;
    }
  }
}
