@import "../../index.scss";

#DesktopProductView {
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 5%;
  margin: 1%;

  .inner-container {
    width: 120%;
    position: relative;
    right: 20%;
    display: flex;
    align-items: center;

    @media (max-width: 1700px) {
      width: 123%;
    }

    .info-container {
      height: 100%;
      color: #404040;

      h1 {
        margin-bottom: 0px;
        font-weight: 300;
      }

      .skuCode,
      .price,
      .stock,
      .category {
        color: $primary-color;
        margin-bottom: 2%;
      }

      .price {
        font-size: 3em;
        font-family: "Raleway", sans-serif;
        font-style: italic;
        text-align: left;
      }

      .shortDescription {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#DesktopProductView:nth-child(3n + 1):last-child {
  grid-column: 2 / span 1;
}

#MobileProductView.card {
  width: 18em;
  height: fit-content;
  margin: 1%;

  .carousel-item {
    width: 18em;
    height: 13em;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 980px) {
  #MobileProductView.card {
    width: 100%;
  }

  .carousel-item {
    width: 100% !important;
    height: 13em;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#DesktopProductView,
#MobileProductView.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;

    button {
      width: 49%;
      border: none;
      outline: none;
    }

    button:hover {
      opacity: 1;
    }

    button:focus {
      box-shadow: none;
      outline: none;
    }

    button:first-child {
      background-color: $secondary-color;
    }

    button:nth-child(2) {
      background-color: $primary-color;
    }
  }
}
