@import "../../../../../../index.scss";

#RecensionForm {
  h1 {
    color: $text-main-color;
    margin: 10px 0px;
    font-weight: 300;
  }

  .success-recension {
    text-align: center;
    font-weight: 600;
    margin: 20px 0px;
    color: green;
  }

  .fail-recension {
    text-align: center;
    font-weight: 600;
    margin: 20px 0px;
    color: red;
  }
}
