@import "../../../../index.scss";

#ProductDetails {
  width: 80%;

  .container {
    padding: 4px !important;
  }

  .header {
    display: flex;
    align-items: center;
    color: $text-main-color;

    .close-icon {
      font-size: 1.7em;
      cursor: pointer;
    }
  }

  .carousel-container {
    width: 100%;

    .carousel-inner {
      height: 30em;
    }

    .image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .price,
  .stock {
    color: $primary-color;
  }

  .price {
    font-size: 3em;
    font-family: "Raleway", sans-serif;
    font-style: italic;
  }

  .description {
    line-height: 1.8em;
    font-weight: 300;
    color: $text-main-color;
  }

  .additional-info {
    margin-bottom: 3px;
    color: $text-main-color;

    span {
      color: $primary-color;
    }
  }

  .input-group {
    margin-top: 1em;
  }

  input {
    box-shadow: none;
    outline: none;
  }

  input:focus {
    box-shadow: none;
    outline: none;
    border-color: $primary-color;
  }

  button {
    background-color: $primary-color;
    border-color: inherit;
  }

  .section-btns {
    position: relative;
    width: 10%;
    border: none;
    background-color: #fff;
    color: $text-main-color;
  }

  .active-section-btn::after {
    content: "";
    width: 100%;
    height: 10px;
    border-bottom: solid 2px $primary-color;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
