@import "../../../../index.scss";

#NavbarOffcanvas {
  .NavbarOffcanvasTitle {
    color: $primary-color;
    text-align: center;
    margin: 10px 0px;
    font-size: 2em;
    font-weight: 300;
  }

  .NavbarOffcanvasProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid $primary-color;
    font-size: 1.3em;

    .product-quantity {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      svg {
        cursor: pointer;
      }

      svg:first-child {
        color: $primary-color;
      }
    }
  }

  .checkout-btn.btn.btn-primary.btn-lg {
    background-color: $primary-color;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
  }
}
