#main-layout {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .row {
    margin: 0px;
    padding: 0px;
  }

  #main-content {
    width: 98%;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
}
